/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

$primary: #007bff;
$secondary: #6c757d;
$warning: #ffae42;
$danger: #ff0033;
$success: #28a745;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;
$muted: #6c757d;
$whitee: #fff;
$blackk: #000;

/* -------------------------------------------------------------------------- */
/*                                 BREAKPOINTS                                */
/* -------------------------------------------------------------------------- */

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);
